<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>mymvc</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- <servlet> <servlet-name>msgC</servlet-name> <servlet-class>com.tips.controller.MessageController</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>msgC</servlet-name> <url-pattern>/msgController</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>travelC</servlet-name> <servlet-class>com.tips.controller.TravelController</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>travelC</servlet-name> <url-pattern>/travel.do</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>bookC</servlet-name> <servlet-class>com.tips.controller.BookController</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>bookC</servlet-name> <url-pattern>/book.do</url-pattern> 
		</servlet-mapping> -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>com.controller.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/config/CommandPro.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>